In [39]:
import pandas as pd
import os
print(os.getcwd())

c:\Users\mr074\OneDrive\Documents\AllProgram\bangla-emotion-detection-ann

In [40]:
df = pd.read_csv(r'c:\Users\mr074\OneDrive\Documents\AllProgram\bangla-emotion-detection-ann\bangla-emotions-datasets\Train.csv')
df.head()

,ID,Data,Love,Joy,Surprise,Anger,Sadness,Fear,Topic,Domain,is_admin
0,5454,লকাল বাস ভালো এটা থেকে,0,0,0,0,1,0,Travel,Youtube,False
1,22549,কত অভিজানই তো চলে কিন্তু ওয়াসার পানির অভিজান ক...,0,0,0,0,1,0,Politics,Youtube,False
2,7033,বিয়ের মহল ছেড়ে তিনি বিস্রাম নিতে চলে যান (৬ ...,0,0,0,1,0,0,Personal,Facebook,False
3,21114,চাচাজি তো কেবল মাকে ধর্ষণ করেছেন,0,0,0,0,1,0,Education,Facebook,False
4,23683,সত্যিকার মানুষ তারাই ভাই,0,1,0,0,0,0,Personal,Youtube,False

In [41]:
df.drop(columns=['ID','Topic','Domain','is_admin'], inplace=True)

In [42]:
df.head()

,Data,Love,Joy,Surprise,Anger,Sadness,Fear
0,লকাল বাস ভালো এটা থেকে,0,0,0,0,1,0
1,কত অভিজানই তো চলে কিন্তু ওয়াসার পানির অভিজান ক...,0,0,0,0,1,0
2,বিয়ের মহল ছেড়ে তিনি বিস্রাম নিতে চলে যান (৬ ...,0,0,0,1,0,0
3,চাচাজি তো কেবল মাকে ধর্ষণ করেছেন,0,0,0,0,1,0
4,সত্যিকার মানুষ তারাই ভাই,0,1,0,0,0,0

In [43]:
import re

def clean_text(text):
    text = str(text)
    text = re.sub(r'[^u0980-u0FF\s]+','',text)
    text = re.sub(r'\s+', ' ', text)
    text = text.strip()
    return text

In [44]:
df['messages'] = df.Data.apply(clean_text)

In [46]:
df.drop(columns=['Data'], inplace=True)

In [47]:
df

       Love  Joy  Surprise  Anger  Sadness  Fear messages
0         0    0         0      0        1     0
1         0    0         0      0        1     0
2         0    0         0      1        0     0
3         0    0         0      0        1     0
4         0    1         0      0        0     0
...     ...  ...       ...    ...      ...   ...      ...
18415     0    1         0      0        0     0
18416     0    0         0      0        1     0
18417     0    0         1      0        0     0
18418     0    0         0      0        1     0
18419     0    0         0      1        0     0        :

[18420 rows x 7 columns]